In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [24]:
# Specify the file name and path
file_path = "/Users/jasonzhang/Documents/PersonalProjects/HackMIT2023/jason/output2.json"

# Read the JSON file and parse it into a dictionary
with open(file_path, "r") as file:
    data = json.load(file)

# Print the dictionary
print("Loaded data as a dictionary:")
print(type(data[0].keys()))
print(len(data[0]["data"]))

Loaded data as a dictionary:
<class 'dict_keys'>
10

In [48]:
# Specify the file name and path
file_path = "/Users/jasonzhang/Documents/PersonalProjects/HackMIT2023/jason/output.json"

# Read the JSON file and parse it into a dictionary
with open(file_path, "r") as file:
    data = json.load(file)

# Print the dictionary
print("Loaded data as a dictionary:")
print(data[3]["data"][1].keys())
print(len(data[0]["data"]))

Loaded data as a dictionary:
dict_keys(['MET_data', 'active_durations_data', 'distance_data', 'device_data', 'strain_data', 'tag_data', 'metadata', 'calories_data', 'stress_data', 'oxygen_data', 'scores', 'heart_rate_data'])
2

In [ ]:
# dict_keys(['MET_data', 'active_durations_data', 'calories_data', 'device_data', 'distance_data', 'heart_rate_data', 'metadata', 'oxygen_data', 'scores', 'strain_data', 'stress_data', 'tag_data'])
daily_resp_json["data"][0]["stress_data"]

In [69]:
test_df = pd.DataFrame(columns=["avg_heart_rate", "act_seconds", "act_calories", "avg_stress"])
test_df.to_csv("tracker_data.csv", index=False)

In [56]:
main_df = pd.DataFrame(columns=["avg_heart_rate", "act_seconds", "act_calories", "avg_stress"])
main_df

Empty DataFrame
Columns: [avg_heart_rate, act_seconds, act_calories, avg_stress]
Index: []

In [63]:
def get_df_data(daily_resp_json):
    avg_heart_rate = []
    act_seconds = []
    act_calories = []
    avg_stress = []
    for day in daily_resp_json["data"]:
        ahr = day["heart_rate_data"]["summary"]["avg_hr_bpm"]
        act_secs = day["active_durations_data"]["activity_seconds"]
        act_cals = day["calories_data"]["net_activity_calories"]
        avg_strs = day["stress_data"]["avg_stress_level"]
        avg_heart_rate.append(ahr)
        act_seconds.append(act_secs)
        act_calories.append(act_cals)
        avg_stress.append(avg_strs)
    df = pd.DataFrame({
        "avg_heart_rate": avg_heart_rate,
        "act_seconds": act_seconds,
        "act_calories": act_calories,
        "avg_stress": avg_stress,
    })
    return df

df = get_df_data(data[3])
main_df = pd.concat([main_df, df], axis=0)
df

   avg_heart_rate  act_seconds  act_calories  avg_stress
0       73.738278         7345           445          31
1       87.104869         6075           162          63
2       74.303138        15685           406          35
3       77.141860        17990           563          37
4       77.337255        15420           741          36
5       74.126389        14660           617          34
6       80.352273        19592           616          46
7       71.128956        14637           554          23
8       75.105581        13780           518          37
9       56.000000          180             0           8

In [66]:
main_df.reset_index(drop=True)

    avg_heart_rate act_seconds act_calories avg_stress
0              NaN           0            0         -1
1              NaN           0            0         -1
2              NaN           0            0         -1
3              NaN           0            0         -1
4        77.917355        7770          122         56
5        67.004980        3280           60         28
6        71.544506       12325          394         34
7        71.190337        7705          339         33
8              NaN           0            0         -1
9              NaN           0            0         -1
10       72.600000          60            0         46
11       82.864012       17345          875         44
12             NaN           0            0         -1
13             NaN           0            0         -1
14             NaN           0            0         -1
15       88.814815       23844          716         66
16       84.267792       24663         1134         37
17       91.182045       14203          780         66
18       78.578984       21439          928         38
19       63.250000         360            0         19
20       72.212658       11899          448         32
21             NaN           0            0         -1
22       73.738278        7345          445         31
23       87.104869        6075          162         63
24       74.303138       15685          406         35
25       77.141860       17990          563         37
26       77.337255       15420          741         36
27       74.126389       14660          617         34
28       80.352273       19592          616         46
29       71.128956       14637          554         23
30       75.105581       13780          518         37
31       56.000000         180            0          8

In [68]:
main_df.to_csv("data.csv", index=False)